# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment settings
.env
*.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs or large temp files
*.log
